body, html {
	height: 100%;
}

body {
	font-family: arial;
	font-size: 11pt;
	margin: 0;
	background: #336666;
}

input {
	padding: 4px;
	font-size: 10pt;
}

button {
	font-size: 10pt;
}

.header {
	font-size: 20pt;
	padding: 20px;
}

.page-wrapper {
	width: 600px;
	height: 100%;
	margin: 0 auto;
	background: #fff;
}

.content > div {
	padding: 20px;
}

.article-list .articles {
	margin-top: 20px;
}

.sign-in form {
	width: 154px;
	margin: 40px auto;
}

.sign-up form {
    width: 170px;
    color: red;
}
